/*****COLLABORATIVE DIVORCE SITE*****/

/*****BASE STYLES*****/

/*****COLORS

#bf4e30 deep orange
#84bc9c celery green
#467b62 medium green - logo and nav
#093824 dark green
#4b0f49 purple
#e5eafa gray-white
0cbaba turquoise
e9d758 yellow
#040f16 black
#ffffff white

*****/

/*****font-family: 'Oswald', sans-serif; /*****<h>*****/
/*****font-family: 'Archivo Narrow', sans-serif; /*****<p>*****/

body {
  /*****background-color: #e5eafa /*****gray-white*****/;
  color: #040f16;
  font-family: 'Archivo Narrow', sans-serif;
}


/*****GRID*****/
.full-width {
  margin: 0 auto;
  width: 1400px;
}

.half-width {
  float:left;
  width: 700px;
}

.one-third-width {
  width: 466px;
  float:left;
}

.two-thirds-width {
  float:right;
  width: 933px;
}

/*****HEADER*****/

header {
  background-color: #ffffff;
  height: 120px;
  margin-bottom: 15px;
  padding-right: 20px 50px 20px 0;
}

header img {
  margin: 10px 0 10px 180px;
  padding-left: 60px;
  width: 125px;
}

nav {
  float: right;
  padding: 40px 30px 10px 0px;
}

nav ul li {
  display: inline-block;
  margin-right: 75px;
}

nav ul li a {
  color: #467b62;
  font-size: 22px;
  font-weight: bold;
  /*****line-height: 200%;*****/
  text-decoration: none;
}


/*****MAIN*****/

/*****HERO*****/
#hero {
  background: url('../img/hero-image-1400.jpg');
  background-size: cover;
  clear: both;
  height: 650px;
  /*****margin-bottom: 15px;
  margin-top: 0px;*****/
}

#hero h1 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  padding: 95px 15px 0 585px;
  width: 850px;
  /*****line-height: 95px;
  padding: 0px 0 20px 70px;*****/
}

#cooperation {
  font-size: 90px;
  padding-left: 70px;
}

#thorough {
  font-size: 70px;
}

#nobody {
  font-family: 'Archivo Narrow', sans-serif;
}

#everybody {
  font-family: 'Lobster Two', cursive;
  font-size: 70px;
}

/***** TO BE CONTINUED...



h2 {
  color: #040f16;
  font-size: 36px;
  text-align: center;
}

/*****.span-color {
  color: #fbfbff;
}*****/

/*****
#about {
  height: 800px;
}

#about p {
  /*****padding-left: 170px;
}*****/

/*****WHAT TO EXPECT*****/

/*****
#what-to-expect {
  background-color: #b80c09;
  overflow: auto;
  color: #fbfbff;
}



/*****CONNECT*****/
/*****
#connect p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


#connect ul li {
  display: inline-block;
  margin: 0 200px 0 200px;
}

#connect ul {
  /*****list-style: none;*****/
}
/*****
#connect ul li a {
  color: #040f16;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
