/*****COLLABORATIVE DIVORCE SITE*****/

/*****BASE STYLES*****/

/*****COLORS

#bf4e30 deep orange
#84bc9c celery green
#093824 dark green
#e5eafa gray-white
0cbaba turquoise
e9d758 yellow
#040f16 black
#ffffff white

*****/

/*****font-family: 'Oswald', sans-serif; /*****<h>*****/
/*****font-family: 'Archivo Narrow', sans-serif; /*****<p>*****/

body {
  background-color: #e5eafa /*****gray-white*****/;
  color: #040f16;
  font-family: 'Archivo Narrow', sans-serif;
}


/*****GRID*****/
.full-width {
  /*****margin-left: 0px;
  margin-right: 0px;*****/
  margin:auto;
  width: 1400px;
}

.half-width {
  float:left;
  width: 700px;
}

.one-third-width {
  width: 466px;
  float:left;
  clear: both;
}

.two-thirds-width {
  float:right;
  width: 933px;
  clear: both; /*****I don't know why, but this command puts the gray-white border between header and main - no-man's-land, for some reason...also - with this command, the nav is perfectly aligned...without it, the nav falls below. Not sure what's going on...*****/
  /*****overflow: auto;...did not work - no change in nav or gray bar...*****/
}

/*****HEADER*****/
header {
  background-color: #ffffff;
  height: 180px;
  /*****overflow:auto; ...this removed nav from visibility entirely, and made gray-white bar a little smaller*****/
  /*****margin-bottom: 20px;*****/
  padding-right: 50px;
}

header img {
  margin: 10px 0 0 180px;
  width: 150px;
}

nav {
  float: right;
  /*****overflow: auto;...did not work...*****/
  padding: 20px 10px 10px 0px;
}

/*****ul {
  padding-left: 100px;
  padding-right: 20px;
}*****/

nav ul li {
  display: inline-block;
  margin-right: 60px;
  /*****margin-top: 15px;*****/
  /*****padding-top: 30px;*****/
}

nav ul li a {
  color: #093824;
  font-size: 22px;
  font-weight: bold;
  /*****line-height: 200%;*****/
  text-decoration: none;
}


/*****MAIN*****/

/*****HERO*****/
#hero {
  background: url('../img/hero-image-1400.jpg');
  background-size: cover;
  clear: both; /*****made gray-white border even bigger, so it's definitely a float problem...*****/
  height: 650px;
  /*****margin-bottom: 15px;
  margin-top: 0px;*****/
}

#hero h1 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  padding-left: 550px;
  width: 850px;
  /*****clear: both;....removing this command put the gray-white bar back between header and main...but this command doesn't belong in h1 anyway!*****/
  /*****line-height: 95px;
  padding: 0px 0 20px 70px;/
}

/***** TO BE CONTINUED...


/*****span {
  /*****font-size: 100px;
}*****/

/*****
h2 {
  color: #040f16;
  font-size: 36px;
  text-align: center;
}

/*****.span-color {
  color: #fbfbff;
}*****/

/*****
#about {
  height: 800px;
}

#about p {
  /*****padding-left: 170px;
}*****/

/*****WHAT TO EXPECT*****/

/*****
#what-to-expect {
  background-color: #b80c09;
  overflow: auto;
  color: #fbfbff;
}

#split-page {
  background-color: #0b4f6c;
  overflow: auto;
  color: #fbfbff;
}

#rogue-pickings {
  background-color: #75aec6;
  overflow: auto;
  color: #fbfbff;
}

#jubilee-austen {
  background-color: #b80c09;
  overflow: auto;
  color: #fbfbff;
}

#thinkspace {
  background-color: #0b4f6c;
  overflow: auto;
  color: #fbfbff;
}


/*****CONNECT*****/
/*****
#connect p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


#connect ul li {
  display: inline-block;
  margin: 0 200px 0 200px;
}

#connect ul {
  /*****list-style: none;*****/
}
/*****
#connect ul li a {
  color: #040f16;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
