/***** COLLABORATIVE DIVORCE SITE *****/

/***** BASE STYLES *****/

/*****COLORS

#bf4e30 deep orange
#84bc9c celery green
#467b62 medium green - logo and nav
#093824 dark green
#4b0f49 purple
#e5eafa gray-white
0cbaba turquoise
e9d758 yellow
#040f16 black
#ffffff white

*****/

/*****font-family: 'Oswald', sans-serif; /*****<h>*****/
/*****font-family: 'Archivo Narrow', sans-serif; /*****<p>*****/

body {
  color: #040f16;
  font-family: 'Archivo Narrow', sans-serif;
}


/***** GRID *****/
.full-width {
  margin: 0 auto;
  width: 1400px;
}

.half-width {
  float:left;
  width: 700px;
}

.one-third-width {
  width: 466px;
  float:left;
}

.two-thirds-width {
  float:right;
  width: 933px;
}

/***** HEADER *****/

header {
  background-color: #ffffff;
  height: 120px;
  margin-bottom: 15px;
  padding-right: 20px 50px 20px 0;
}

header img {
  margin: 10px 0 10px 180px;
  padding-left: 60px;
  width: 125px;
}

nav {
  float: right;
  padding: 40px 30px 10px 0px;
}

nav ul li {
  display: inline-block;
  margin-right: 75px;
}

nav ul li a {
  color: #467b62;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}


/***** MAIN *****/

/***** HERO *****/
#hero {
  background: url('../img/hero-image-1400.jpg');
  background-size: cover;
  clear: both;
  height: 650px;
}

#hero h1 {
  color: #e5eafa;
  font-family: 'Vollkorn', serif;
  font-size: 60px;
  padding: 115px 15px 0 530px;
  width: 850px;
  word-spacing: 8px;
  line-height: 1.1em;
}

span#cooperation {
  color: #e3be49;
  font-weight: bolder;
  padding-left: 70px;
}

span#second-line {
  padding-left: 100px;
}

span#third-line {
  padding-left: 85px;
}

span#nobody {
  color: #093824;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  letter-spacing: -7px;
}

span#last-line {
  padding-left: 50px;
}

span#everybody {
  color: #4b0f49;
  font-style: italic;
  font-weight: bolder;
}

span#author {
  font-size: 35px;
}

/***** ABOUT *****/
#about {
  /*****background-color: #e5eafa;*****/
  height: 1900px;
  margin-left: 50px;
  padding-left: 25px;
  width: 1300px;
}

#about h2 {
  color: #467b62;
  font-size: 36px;
  margin-bottom: 15px;
  padding: 15px 0 0 35px;
}

.about-text {

}

#about p {
  color: #467b62;
  font-size: 20px;
  padding-left: 35px;
  text-align: justify;
  width: 1250px;
}

.right-path {
  background-color: #467b62;
  height: 300px;
  margin-left: 150px;
  width: 1000px;
}

.right-path h3 {
  color: #e5eafa;
  font-size: 36px;
  font-weight: bold;
  padding-top: 25px;
  text-align: center;
}

.right-path ul {
  padding-left: 185px;
}

.right-path li {
  color: #e5eafa;
  font-size: 24px;
}

/***** WHAT TO EXPECT *****/

/*****
#what-to-expect {
  background-color: #b80c09;
  overflow: auto;
  color: #fbfbff;
}



/*****CONNECT*****/
/*****
#connect p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


#connect ul li {
  display: inline-block;
  margin: 0 200px 0 200px;
}

#connect ul {
  /*****list-style: none;*****/
}
/*****
#connect ul li a {
  color: #040f16;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
